In [1]:
#Empty Data Frame
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
emp=pd.Series(['Parker','John','Smith','William'])
id=pd.Series([102,107,109,114])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\nSeries to DataFrame\n")
print(result)

Series to DataFrame

       Emp   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114

In [4]:
print("\nExtrating one column:\n")
print(result['Emp'])

Extrating one column:

0     Parker
1       John
2      Smith
3    William
Name: Emp, dtype: object

In [6]:
print("\nAdding new column:\n")
result['Age']=pd.Series([35,24,40,38])
print(result)

Adding new column:

       Emp   ID  Age
0   Parker  102   35
1     John  107   24
2    Smith  109   40
3  William  114   38

In [7]:
print("\nDeleting one column:\n")
del result['Age']
print(result)

Deleting one column:

       Emp   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114

In [8]:
print("\nExtracting the third row:\n")
print(result.loc[2])

Extracting the third row:

Emp    Smith
ID       109
Name: 2, dtype: object

In [11]:
print("\nslice rows:\n",result [1:3])

slice rows:
      Emp   ID
1   John  107
2  Smith  109

In [14]:
d2=pd.DataFrame([['Dale',123],['Mark',143]],columns=['Emp','ID'])
result=pd.concat([result,d2],ignore_index=True)
print("\nAdding new row values:\n",result)

Adding new row values:
        Emp   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114
4     Dale  123
5     Mark  143

In [15]:
print("\nDeleting particular row:\n",result.drop(1))

Deleting particular row:
        Emp   ID
0   Parker  102
2    Smith  109
3  William  114
4     Dale  123
5     Mark  143